@import "src/styles";

.all-input {
    width: 100%;
    position: relative;

    // &:deep(.popover-zone) {
    //     width: 100%;
    //     max-height: auto !important;
    // }
    & .popover.top {
        bottom: 65px;
        left: 50%;
        transform: translate(-50%);
    }
    & .popover-zone {
        display: block;

        & > .inner {
            max-height: none;
            height: 40px;
        }
    }

    &__face {
        position: absolute;
        left: -200vw;
    }

    &__top {
        margin-top: 9px;
    }

    &__label {
        position: absolute;
        z-index: 1;
        left: 14px;
        top: -9px;
        padding: 0 2px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        display: flex;
        align-items: flex-start;
        color: #344054;
        gap: 4px;

        span {
            font-weight: 600;
            color: #F04438;
        }

        &:before {
            position: absolute;
            z-index: -1;
            content: '';
            width: 100%;
            height: 3.5px;
            background: #ffffff;
            left: 0;
            top: 50%;
            transform: translateY(calc(-50% - .2px));
        }
    }

    &__main {
        position: relative;
        width: 100%;

        &-height {
            height: 40px;
        }

        .new_calendar {
            cursor: pointer;
            transition: .2s;

            &:hover {
                background: #000;
            }
        }
    }

    &__web {
        position: absolute;
        font-size: 14px;
        line-height: 20px;
        color: #667085;
        z-index: 0;
        width: 74px;
        height: calc(100% - 2px);
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1.1px solid #D0D5DD;
    }

    &__choice {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        padding: 10px 14px;
        width: 100%;
        min-height: 40px;
        border: 1px solid #D0D5DD;
        background: #ffffff;
        border-radius: 4px;

        span {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #344054;

            span {
                font-weight: 600;
                color: #F04438;
            }
        }
    }

    &__choices {
        display: flex;
        align-items: center;
        gap: 16px;

        h6 {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #101828;
            display: flex;
            gap: 8px;
            cursor: pointer;
            user-select: none;

            i {
                width: 18px;
                height: 18px;
                background: #F9FAFB;
                border: 2px solid #D0D5DD;
                border-radius: 50%;
                transition: .2s;

                &.active {
                    border: 4px solid #194185;
                }
            }
        }
    }

    &__itself {
        width: 100%;
        height: 40px;
        padding: 10px 14px;

        font-size: 14px;
        line-height: 20px;
        color: #101828;
        border: 1px solid #D0D5DD;
        border-radius: 4px;
        background: #ffffff;

        &-web {
            padding-left: 84px;
        }

        p {
            font-size: 14px;
            line-height: 20px;
            color: #101828;
        }

        span {
            position: absolute;
            top: 10px;
            right: 44px;
            color: #1570EF;
        }

        &::placeholder, &-placeholder {
            color: #98A2B3;
        }

        &:focus {
            border: 1px solid #1849A9;
            box-shadow: 0 0 4px rgba(24, 73, 169, 0.5);
        }

        &-textarea {
            min-height: 78px;
            min-width: 100%;
            max-width: 100%;
            resize: vertical;
        }

        &-select {
            max-width: 2000px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            user-select: none;
            padding-right: 44px;
            cursor: pointer;
            transition: .2s;

            &-active {
                box-shadow: 0 0 4px rgba(24, 73, 169, 0.5) !important;
            }

            &:hover {
                background: #f5faffb0;
            }

            i {
                top: 13px !important;
                right: 16px !important;
            }
        }
    }

    &__icon {
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 14px;
    }

    &__text {
        margin-top: 6px;
        font-size: 14px;
        line-height: 20px;
        color: #667085;
    }

    &__disabled {
        .all-input__itself {
            background: #FCFCFD;
            border: 1px solid #E4E7EC;
            cursor: no-drop;
            color: #98A2B3;
        }

        .all-input__label, .all-input__text {
            color: #98A2B3;
        }
    }

    &__error {
        .all-input__label, .all-input__text {
            color: #F04438;
        }

        .all-input__choices {
            h6 {
                i {
                    border: 2px solid #F04438;
                    &.active {
                        border: 4px solid #194185;
                    }
                }
            }
        }

        .all-input__icon {
            background: #F04438;;
        }

        .all-input__itself, .all-input__choice {
            border: 1px solid #F04438;
            box-shadow: 0 0 4px rgba(240, 68, 56, 0.5);
        }
    }

    &__dropdown {
        box-shadow: 0 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
        border-radius: 4px;
        width: 100%;
        position: absolute;
        left: 0;
        margin-top: 9px;
        background: #ffffff;
        border: 1px solid #D0D5DD;
        z-index: 10;

        min-height: 24px;
        max-height: 300px;
        overflow-y: auto;

        &-input {
            position: relative;
            width: 100%;

            i {
                position: absolute;
                top: 10px;
                right: 14px;
            }
        }

        input {
            width: 100%;
            padding: 10px 14px;
            padding-right: 44px;
            font-size: 12px;
            line-height: 18px;
            border-bottom: 1px solid #D0D5DD;
            box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);

            &::placeholder {
                color: #667085;
            }
        }

        li {
            padding: 12px 14px;
            cursor: pointer;
            user-select: none;
            transition: .2s;
            display: flex;
            align-items: center;
            gap: 8px;

            span {
                position: relative;
                width: 18px;
                height: 18px;
                background: #FFFFFF;
                border: 2px solid #98A2B3;
                border-radius: 4px;

                .chevron-done {
                    position: absolute;
                    top: -3px;
                    left: -3px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: white;
                }

                ::ng-deep .chevron-done {
                    height: 16px !important;
                    width: 16px !important;
                }
            }

            p {
                font-size: 12px;
                color: #101828;
            }

            .span-active {
                background: $blue-900;
                border: 2px solid $blue-900;
            }

            &:hover {
                background: #F5FAFF;
            }
        }

        &-isMy {
            position: relative;
            padding: 0 14px 10px;

            input {
                width: 100% !important;
                padding: 10px 0 2px !important;
                border-bottom: 1px solid #98A2B3 !important;

                &::placeholder {
                    color: #98A2B3 !important;
                }
            }

            i {
                cursor: pointer;
                position: absolute;
                top: 6px;
                right: 14px;
                z-index: 1;

                &:hover {
                    background: #101828;
                }
            }
        }

        &-active, .li-active, .li-active:hover {
            background: #EAF6FD;
            color: #1849A9;
        }
    }
}
