@import "src/styles";
@import "src/normalize";

.ui-input {
    position: relative;
    &::after {
        position: absolute;
        content: attr(data-label);
        background: rgba(255,255,255, 0.9);
        padding: 0 2px;
        top: -10px;
        left: 16px;
    }

    input {
        width: 100%;
        height: 40px;
        padding: 10px 14px;
        border: 1px solid $grey-300;
        border-radius: 4px;
    }
}
