@import "src/styles";

.base-layout {
    width: 100%;
    // height: 100lvh;
    display: flex;
    flex-direction: column;
    // overflow: hidden;    

    .first-header {
        width: 100%;
        display: flex;
        gap: 32px;
        padding: 0px 240px;
        height: 64px;
        background: #FFFFFF;
        border-bottom: 1px solid $grey-200;

        .c1 {
            display: flex;
            align-items: center;
            img {
                width: 141px;
                height: 26px;
            }
        }

        .c2 {
            p {
                width: 40px;
                text-align: end;
            }

            display: flex;
            gap: 32px;
            justify-content: flex-end;
            align-items: center;
        }
    }
    .second-header {
        height: 30px;
        background: $grey-25;
        border-bottom: 1px solid $grey-200;
        padding: 0 240px;
        display: flex;
        align-items: center;

        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: $grey-400;
        }
    }

    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;

        .content {
            width: 1440px;
            display: flex;

    
            .sidebar {
                width: 300px;
                // height: calc(100lvh - 94px);
            }

           .main-content {
                // height: calc(100lvh - 94px);
                // overflow-y: scroll;
                padding: 16px;
           }
        }
    }
}