<div class="sidebar">
    <div class="block-menu" *ngFor="let module of modules">
        <div class="top">
            <h3 class="title">{{ module.tag }}</h3>
            <img class="logo-icon" src="/assets/img/logo-kalkan.png" alt=""/>
        </div>
        <div class="body">
            <li class="active">
                <img class="logo-icon" src="/assets/img/logo-kalkan.png" alt=""/>
                <p>route 1</p>
            </li>
            <li>
                <img class="logo-icon" src="/assets/img/logo-kalkan.png" alt=""/>
                <p>route 2</p>
            </li>
            <li>
                <img class="logo-icon" src="/assets/img/logo-kalkan.png" alt=""/>
                <p>route 3</p>
            </li>
            <li>
                <img class="logo-icon" src="/assets/img/logo-kalkan.png" alt=""/>
                <p>route 4</p>
            </li>
        </div>
    </div>

</div>
